In [1]:
import init
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)

In [2]:
def simulate(p1, p2):
    d = {1:0, 2:0}
    for _ in range(100):
        winner = init.main(250, 0, [p1, p2])
        d[winner] += 1

    win_rate = d[1]/100
    return win_rate

In [3]:
data = []

input = np.random.uniform(0, 1, 1000)

for i in range(1000):
    data.append(simulate(input[i], 'Default'))

In [4]:
df = pd.DataFrame(input, index = [i for i in range(1000)], columns = ['input'])
df['output'] = data

df

        input  output
0    0.168305    0.39
1    0.497055    0.54
2    0.921642    0.70
3    0.445972    0.37
4    0.314191    0.49
..        ...     ...
995  0.679766    0.56
996  0.045298    0.32
997  0.031844    0.31
998  0.273883    0.45
999  0.935662    0.69

[1000 rows x 2 columns]

In [5]:
df.to_csv('data/training_data.csv')