In [1]:
import init
import pandas as pd

In [2]:
d = {n:0 for n in range(40)}

for _ in range(100):
    results = init.main(250, 0, ['Default', 'Default'])
    for key in d:
        d[key] += results[key]

df = pd.DataFrame(d, index = [0])
df = df.T
df

      0
0   553
1   590
2   565
3   577
4   605
5   585
6   631
7   615
8   662
9   638
10  621
11  612
12  661
13  630
14  592
15  750
16  776
17  790
18  828
19  812
20  790
21  744
22  766
23  724
24  724
25  762
26  703
27  723
28  711
29  707
30  718
31  764
32  675
33  635
34  698
35  667
36  615
37  584
38  589
39  586

In [3]:
filtered_keys = {1, 3, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 18, 19, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 37, 39}
filtered = {n:d[n] for n in filtered_keys}

f = pd.DataFrame(d, index = [0])
f = f.T
f.to_csv('results.csv')

In [4]:
f

      0
0   553
1   590
2   565
3   577
4   605
5   585
6   631
7   615
8   662
9   638
10  621
11  612
12  661
13  630
14  592
15  750
16  776
17  790
18  828
19  812
20  790
21  744
22  766
23  724
24  724
25  762
26  703
27  723
28  711
29  707
30  718
31  764
32  675
33  635
34  698
35  667
36  615
37  584
38  589
39  586