In [16]:
import init
import pandas as pd

pd.set_option('display.max_columns', 500)

In [20]:
d = {1:0, 2:0,}

for _ in range(10000):
    winner = init.main(500, 0, ['Aggressive', 'Default'])
    d[winner] += 1

df = pd.DataFrame(d, index = [0])
    
df.columns = ['Player 1', 'Player 2']


#df = df.T
df

#df.to_csv('results.csv')

   Player 1  Player 2
0      5057      4943

In [22]:
d = df.T.copy()

d.columns = ['Wins']

d['Wins'] = 100*d['Wins'] / 10000

d

           Wins
Player 1  50.57
Player 2  49.43