In [5]:
import init
import pandas as pd

In [14]:
d = {n:0 for n in range(40)}

for _ in range(10000):
    results = init.main(250, 0, ['Default', 'Default'])
    for key in d:
        d[key] += results[key]

df = pd.DataFrame(d, index = [0])

name = {
    0:'Go',
    1:'Mediterranean',
    2:'Community Chance 1',
    3:'Baltic',
    4:'Income Tax',
    5:'Reading RR',
    6:'Oriental',
    7:'Chance 1',
    8:'Vermont',
    9:'Connecticut',
    10:'Jail',
    11:'St. Charles',
    12:'Eletric Company',
    13:'States',
    14:'Virginia',
    15:'Pennsylvania RR',
    16:'St. James',
    17:'Community Chest 2',
    18:'Tennessee',
    19:'New York',
    20:'Free Parking',
    21:'Kentucky',
    22:'Chance 2',
    23:'Indiana',
    24:'Illinois',
    25:'B & O RR',
    26:'Atlantic',
    27:'Ventnor',
    28:'Water Works',
    29:'Marvin Gardens',
    30:'Go to Jail',
    31:'Pacific',
    32:'North Carolina',
    33:'Community Chest 3',
    34:'Pennsylvania',
    35:'Short Line RR',
    36:'Chance 3',
    37:'Park Place',
    38:'Luxury Tax',
    39:"Boardwalk"
}

df.columns = [name[col] for col in df.columns]


#df = df.T
df

#df.to_csv('results.csv')

,Go,Mediterranean,Community Chance 1,Baltic,Income Tax,Reading RR,Oriental,Chance 1,Vermont,Connecticut,...,Go to Jail,Pacific,North Carolina,Community Chest 3,Pennsylvania,Short Line RR,Chance 3,Park Place,Luxury Tax,Boardwalk
0,56224,55909,56830,57553,58972,60080,62571,64521,64217,63498,...,70069,70629,69555,68083,66157,63849,61002,57396,57483,56902

In [32]:
def create_row(val):
    tmp = []

    for col in d.columns:
        for k, v in name.items():
            if v == col:
                g = init.Game(0, ['Default', 'Default'])
                p = g.Go
                while p.number != k:
                    p = p.next
                if val == 'rent':
                    tmp.append(int(100*(d.loc[1][col]*p.rent)/max(p.cost,1)))
                elif val == 'one_house':
                    tmp.append(int(100*(d.loc[1][col]*p.one_house)/max(p.cost+p.cost_of_house,1)))
                elif val == 'two_houses':
                    tmp.append(int(100*(d.loc[1][col]*p.two_houses)/max(p.cost+2*p.cost_of_house,1)))
                elif val == 'three_houses':
                    tmp.append(int(100*(d.loc[1][col]*p.three_houses)/max(p.cost+3*p.cost_of_house,1)))
                elif val == 'four_houses':
                    tmp.append(int(100*(d.loc[1][col]*p.four_houses)/max(p.cost+4*p.cost_of_house,1)))
                elif val == 'hotel':
                    tmp.append(int(100*(d.loc[1][col]*p.hotel)/max(p.cost+5*p.cost_of_house,1)))
                break

    return tmp

In [33]:
d = df.copy()

d.loc[1] = [df.loc[0][col]/10000 for col in df.columns]

tmp = create_row('rent')
d.loc[2] = tmp.copy()

tmp = create_row('one_house')
d.loc[3] = tmp.copy()

tmp = create_row('two_houses')
d.loc[4] = tmp.copy()

tmp = create_row('three_houses')
d.loc[5] = tmp.copy()

tmp = create_row('four_houses')
d.loc[6] = tmp.copy()

tmp = create_row('hotel')
d.loc[7] = tmp.copy()



d = d.T
d.to_csv('results.csv')

In [3]:
filtered_keys = {1, 3, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 18, 19, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 37, 39}
filtered = {n:d[n] for n in filtered_keys}

f = pd.DataFrame(d, index = [0])
f = f.T
f.to_csv('results.csv')

In [4]:
f

      0
0   553
1   590
2   565
3   577
4   605
5   585
6   631
7   615
8   662
9   638
10  621
11  612
12  661
13  630
14  592
15  750
16  776
17  790
18  828
19  812
20  790
21  744
22  766
23  724
24  724
25  762
26  703
27  723
28  711
29  707
30  718
31  764
32  675
33  635
34  698
35  667
36  615
37  584
38  589
39  586